PRISMA_SERVICE_TOKEN=your_prisma_service_token
DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=your_generated_database_url_key
JWT_SECRET=replace_with_a_long_random_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_BASE_URL=https://api.groq.com/openai/v1
PORT=3333
NODE_ENV=development
TFVARS_FILE=environments/dev.tfvars
